<div class="mb-4">
  <h2 *ngIf="title">{{ title }}</h2>

  <p-table [value]="data" [loading]="loading">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columns">{{ col.header }}</th>
        <th *ngIf="actions">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td *ngFor="let col of columns">{{ rowData[col.field] }}</td>
        <td *ngIf="actions">
          <button (click)="onEdit.emit(rowData)" class="bg-green-600 text-white px-4 rounded-md">Editar</button>
          <br/>
          <button (click)="onDelete.emit(rowData)" class="bg-red-600 text-white px-4 rounded-md">Eliminar</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>