:host ::ng-deep .p-dialog {
  border-radius: 12px !important;
}

:host ::ng-deep .p-dialog .p-dialog-content {
  padding: 2rem !important;
}

:host ::ng-deep .p-dialog .p-dialog-footer {
  display: none;
}